{% macro render_form(form, url) %}
<form method="POST" action="{{ url }}">
  {{ form.csrf_token }}
  {% for field in form %}
    {% if field.type == 'CSRFTokenField' %}
    {{ '' }}
    {% elif field.type == 'SubmitField' %}
    {{ form.submit(class='btn btn-primary', type='submit') }}
    {% elif field.type == 'BooleanField' %}
    <div class="checkbox">
      <label>{{ field() }} {{ field.label.text }}</label>
    </div>
    {% else %}
    <!-- <div class="form-group">
      {{ field.label }} {{ field(class='form-control') }}
    </div> -->
    <!-- 当 errors 不为空，添加 has-error 类，这样输入框就变成红色了-->
    <div class="form-group {% if field.errors %}has-error{% endif %}">
      {{ field.label }} {{ field(class='form-control') }}
    <!-- 当 errors 不为空，遍历显示每一个 error -->
      {% if field.errors %}
        {% for error in field.errors %}
        <!-- 根据 Bootstrap 样式错误信息要显示先类为 help-block 的 span 标签中-->
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
</form>
{% endmacro %}
